DATABASE_URL="postgresql://username:password@host.neon.tech/neondb?sslmode=require"
PORT=5000

JWT_SECRET="replace-with-a-random-secret-at-least-32-characters-long"
FRONTEND_URL="http://localhost:5173"

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER="your_email@gmail.com"
SMTP_PASS="your_gmail_app_password"
SMTP_FROM="ToolKit <your_email@gmail.com>"

GOOGLE_CLIENT_ID="your_google_client_id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
