DATABASE_URL="postgresql://neondb_owner:npg_8qz9hbuGUwAd@ep-morning-leaf-a5sd59bh-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"
PORT=5000

JWT_SECRET="toolkit_super_secret_key"

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=alphacharlieb2@gmail.com
SMTP_PASS=zujt cjra lzaz oiwj
SMTP_FROM=ToolKit <alphacharlieb2@gmail.com>

GOOGLE_CLIENT_ID=your_actual_google_web_client_id
